body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

#colorform{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}


#update{
    position: absolute;
    font-size: 20px;
    bottom: 1vh;
    display: flex;
    width: 100vw;
    justify-content: center
}

#hello{
    position: absolute;
    font-size: 20px;
    top: 1vh;
    display: flex;
    width: 100vw;
    justify-content: center
}