body{
 height: 150vh;
}

#main-text {
    position: fixed;
    top: 10vh;
    left: 10vw;
    width: 80vw;
    font-family: 'Times New Roman', serif;
    letter-spacing: -5px;
    font-size: 70pt;
    color: black;
    z-index: 1;
    text-wrap: wrap;
    filter: blur(10px);
    transition: ease-in 1s;
    opacity: 10%;
}

#main-text:hover {
    opacity: 100%;
    filter: blur(0px);
}

/* add screen width for text? */
#mountain {
    position: fixed;
    left: 0pt;
    top: 92vh;
    width: 300px;
    transform-origin: bottom center;
    z-index: 1;
}

#background {
    position: absolute;
    top: 0pt;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(#FFFFFF, #A0FFF9, #AEAEAE);
    z-index: 0;
    margin: 0;
    padding: 0;
}

#background-2 {
    position: absolute;
    top: 100vh;
    width: 100vw;
    height: 50vh;
    background-color:  #AEAEAE;

}

/* colors section */

.colors {
    position: fixed;
    opacity: 0;
    z-index: 2;
    /* filter: blur(30px); */
}


/* kayindi */

#kayindi-img {
    opacity: 0;
    transition: ease-in 1s;
    position: fixed;
    width: 15vw;
    height: 10vw;
    top: 10vh;
    left: 10vw;
    /* box-shadow: 10 10 #FFFFFF; */
}

#kayindi-text {
    position: fixed;
    top: 30vh;
    left: 10vw;
    width: 80vw;
    font-family: 'Times New Roman', serif;
    letter-spacing: -3px;
    font-size: 40pt;
    color: black;
    z-index: 3;
    text-wrap: wrap;
    backdrop-filter: blur(50px);    
    transition: ease-in 1s;
    opacity: 0;
    pointer-events: none;

}

.kayindi:hover #kayindi-img {
   opacity: 100;

}


.kayindi:hover #kayindi-text {
   opacity: 100;

}

.colors:hover .color  {
    filter: blur(50px);
}

.colors .color:hover{
    filter: blur(0px);

}

#blue {
    position: fixed;
    width: 15vw;
    height: 10vw;
    top: 10vh;
    left: 10vw;
    background-color: rgb(0, 30, 255);
}



/* charyn */

#charyn-img {
    opacity: 0;
    transition: ease-in 1s;
    position: fixed;
    width: 30vw;
    height: 15vw;
    top: 20vh;
    left: 60vw;
    /* box-shadow: 10 10 #FFFFFF; */
}

#charyn-text {
    position: fixed;
    top: 45vh;
    left: 10vw;
    width: 80vw;
    font-family: 'Times New Roman', serif;
    letter-spacing: -3px;
    font-size: 40pt;
    color: black;
    z-index: 3;
    text-wrap: wrap;
    backdrop-filter: blur(50px);    
    transition: ease-in 1s;
    opacity: 0;
    pointer-events: none;
}

.charyn:hover #charyn-img {
   opacity: 100;

}


.charyn:hover #charyn-text {
   opacity: 100;

}

#orange {
    position: fixed;
    width: 30vw;
    height: 15vw;
    top: 20vh;
    left: 60vw;
    background-color: rgb(255, 102, 0);
}

/* aport */

#aport-img {
    opacity: 0;
    transition: ease-in 1s;
    position: fixed;
    width: 14vw;
    height: 20vw;
    top: 60vh;
    left: 30vw;
    /* box-shadow: 10 10 #FFFFFF; */
}

#aport-text {
    position: fixed;
    top: 30vh;
    left: 10vw;
    width: 80vw;
    font-family: 'Times New Roman', serif;
    letter-spacing: -3px;
    font-size: 40pt;
    color: black;
    z-index: 3;
    text-wrap: wrap;
    backdrop-filter: blur(50px);    
    transition: ease-in 1s;
    opacity: 0;
    pointer-events: none;
}

.aport:hover #aport-img {
   opacity: 100;

}


.aport:hover #aport-text {
   opacity: 100;

}

#pink {
    position: fixed;
    width: 14vw;
    height: 20vw;
    top: 60vh;
    left: 30vw;
    background-color: pink;
}


/* #triangle {
    position: fixed;
    width: 100px;
    height: 100px;
    background: orange;
    clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
    z-index: 2;
} */


